body{background-color:blanchedalmond;
    margin: 0;
    padding: 0;
    font-family:'sriracha';
    line-height: 30px;
    font-size: 20px;
}
img{display: block;

margin: auto;
}
h4 + p{
    color: maroon;
}
pre{display: none;}

p{width: 50vw;
margin: auto;

}
h4{text-align: center;}

.book{width: 50vw;
    margin: auto;
}
p:nth-of-type(5n){
    padding-left: 10vw;
}
p:nth-of-type(7n){
    padding-right: 20vw;
}

img{width:50vw;
margin: auto;
display: block;
mix-blend-mode: multiply;

}
h4:first-of-type{display: none;}

table:first-of-type{display: none;}
    
h1{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}
h5{text-align: center;}

.fig:nth-of-type(2){
    display: none;
}



p:first-letter{
    color:maroon;
    font-size: 1.5em;
}
p{text-indent:1em;
margin-top: 15px;
margin-bottom: 15px;

}
.preface1:first-letter{
    color: black;
    font-size: 1em;}

.preface2:first-letter{
    color:black;
    font-size: 1em;}

h3~p:first-of-type:first-letter{color: black;
font-size: 1em;}

.book:last-of-type,.book:last-child,p:last-of-type p:last-child{color:maroon;}

h1.title{color: maroon;}
.title>p:first-child {color: teal;}

a:hover{color:black;}
a{color:maroon;}

@media screen and (max-width: 768px) {
    p:nth-of-type(5n){
        padding-left: 0vw;
    }
    p:nth-of-type(7n){
        padding-right: 0vw;
    }
    p{width: 60vw;
        margin: auto;
}
@media screen and (max-width: 768px) {
    p:nth-of-type(5n){
        padding-left: 0vw;
    }
    p:nth-of-type(7n){
        padding-right: 0vw;
    }
    p{width: 60vw;
      margin: auto;
    }

@media screen and (max-width: 1024px) and (min-width: 768px) {
    p:nth-of-type(5n){
        padding-left: 0vw;
    }
    p:nth-of-type(7n){
        padding-right: 0vw;
    }
    p{width: 60vw;{
      margin: auto;
    }
}
}